
<div class="jumbotron">
    <div class="container">
        <h1>Get Social</h1>
        
    </div>
</div>

<html> <a class="twitter-timeline" data-width="350" data-height="600" href="https://twitter.com/HutchTim?ref_src=twsrc%5Etfw">Tweets by HutchTim</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</html>